/* ___________________헤더 영역 */
.header {
}

.header h1 {
  float: left;
}
.header h1 em {
  padding: 15px 8px 12px 0;
  display: inline-block;
  /* ㄴinline 을 줘야 가로정렬 해주니까!  */
  /* ㄴblock 을 줘야 패딩값이 먹히니까! */
}
.header h1 em img {
  /* width: 100%; */
  width: 155px;
}
.header h1 strong {
  display: block;
  position: absolute;
  left: 194px;
  top: 23px;
}
.header h1 strong img {
  width: 126px;
}
.header .nav {
  float: right;
}

.header .nav ul {
  border-left: 1px solid yellowgreen;
}

.header .nav ul li {
  /* li 정렬 display: inline 으로도 해도 되나 !
        여기 디자인이, 여백없이 딱딱 라인이 맞아야 돼!
        inline 은 font값이 들어가서 여백이 생겨!
        그래서, float:left 써줌
        */
  float: left;
  /* width 값 고정 */
  width: 103px;
  text-align: center;
  border-right: 1px solid yellowgreen;
}
.header .nav ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 17px;
  font-weight: 700;
}
